:root {
   
    /* text */
    --color-text-primary: var(--color-text-000);
    --color-text-secondary: var(--color-text-030);
    --color-text-tertiary:var(--color-text-050);
    --color-text-muted: var(--color-text-060);
    --color-text-disabled: var(--color-text-080);
    --color-text-inverse: var(--color-text-090);
}