:root{
     /* Background */
    --background-button-default: var(--grey-300);
    --background-button-hover: var(--grey-200);
    --background-button-focus: var(--grey-200);
    --background-button-disabled: var(--grey-700);

    /* Text */
    --color-button-default: var(--grey-000);
    --color-button-disabled: var(--grey-600);

    /* Border */
    --border-button-thin-default: var(--border-width-thin) solid var(--color-border-default);
    --border-button-thin-hover: var(--border-width-thin) solid var(--color-border-hover);
    --border-button-thin-focus: var(--border-width-thin) solid var(--color-border-focus);
    --border-button-thin-disabled: var(--border-width-thin) solid var(--color-border-disabled);
}