:root {
  /* Input Dark */

  --input-dark-background-default: transparent;
  --input-dark-background-hover: transparent;;
  --input-dark-background-focus: var(--color-background-09);
  --input-dark-background-readonly: var(--color-background-09);
  --input-dark-background-disabled: var(--color-background-10);

  --input-dark-border-default: var(--color-border-07);
  --input-dark-border-hover: var(--color-border-06);
  --input-dark-border-focus: var(--color-border-04);
  --input-dark-border-readonly: var(--color-border-08);
  --input-dark-border-disabled: var(--color-border-09);

  --input-dark-text-default: var(--color-text-01);
  --input-dark-text-hover: var(--color-text-00);
  --input-dark-text-focus: var(--color-text-00);
  --input-dark-text-readonly: var(--color-text-04);
  --input-dark-text-disabled: var(--color-text-06);

  --input-dark-placeholder-default: var(--color-text-05);
  --input-dark-placeholder-hover: var(--color-text-04);
  --input-dark-placeholder-focus: var(--color-text-04);
  --input-dark-placeholder-disabled: var(--color-text-07);

  --input-dark-icon-default: var(--color-stroke-05);
  --input-dark-icon-hover: var(--color-stroke-03);
  --input-dark-icon-focus: var(--color-stroke-02);
  --input-dark-icon-disabled: var(--color-stroke-07);

  /* Input Light */

  --input-light-background-default: var(--color-background-00);
  --input-light-background-hover: var(--color-background-01);
  --input-light-background-focus: var(--color-background-00);
  --input-light-background-readonly: var(--color-background-01);
  --input-light-background-disabled: var(--color-background-02);

  --input-light-border-default: var(--color-border-03);
  --input-light-border-hover: var(--color-border-04);
  --input-light-border-focus: var(--color-border-06);
  --input-light-border-readonly: var(--color-border-03);
  --input-light-border-disabled: var(--color-border-02);

  --input-light-text-default: var(--color-text-09);
  --input-light-text-hover: var(--color-text-10);
  --input-light-text-focus: var(--color-text-10);
  --input-light-text-readonly: var(--color-text-06);
  --input-light-text-disabled: var(--color-text-04);

  --input-light-placeholder-default: var(--color-text-05);
  --input-light-placeholder-hover: var(--color-text-06);
  --input-light-placeholder-focus: var(--color-text-06);
  --input-light-placeholder-disabled: var(--color-text-04);

  --input-light-icon-default: var(--color-stroke-05);
  --input-light-icon-hover: var(--color-stroke-07);
  --input-light-icon-focus: var(--color-stroke-08);
  --input-light-icon-disabled: var(--color-stroke-04);

  /* Input Structure */

  --input-height: 44px;
  --input-padding-inline: 5px;
  --input-gap: 8px;
  --input-border-width: var(--width-line-04);
  --input-border-radius: 0;
  --input-font-size: 16px;
  --input-line-height: 20px;
  --input-transition-duration: 160ms;
}
