@use 'base' as *;
@use 'icons' as *;
// @use 'themes' as *;

.auth-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.auth-layout__header {
  background-color: var(--color-background);
  padding: $padding-md;
  height: 60px;
}

.auth-layout__body {
  background-color: var(--color-background);
  padding: $padding-md;
  justify-content: center;
  align-items: center;
}

.auth-layout__footer {
  background-color: var(--color-background);
  padding: $padding-md;
  text-align: center;
  height: 60px;
}