.header-apps-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.app-icon {
    display: flex;
    align-items: center;
}

.modal-menu-body {
    display: grid;
    width: 320px;
    height: 280px;
    grid-template-columns: repeat(auto-fill,
            minmax(3rem, 1fr));
    grid-auto-rows: max-content;

    gap: 1rem;

    padding: 1rem;

    overflow-y: auto;
}