<section class="cxp-section">
  <div>
    <header class="item-group-header cxp-section__header">
      <cxp-icon-address-nav class="sub-header-icon" size="xs" fill="outline"></cxp-icon-address-nav>
      <h3 class="cxp-section__title">Contact Details</h3>
      <div class="contact__actions">
        @if (isEditing) {
          <cxp-button size="xs" variant="secondary" (clicked)="cancelEdit()"> Cancel </cxp-button>

          <cxp-button size="xs" variant="primary" (clicked)="saveContact()"> Save </cxp-button>
        } @else {
          <cxp-button size="xs" variant="secondary" (clicked)="startEdit()"> Edit </cxp-button>
        }
      </div>
    </header>
    <div class="contact-list-box">
      <cxp-contact-list size="sm" value="09173010779">
        <cxp-icon-lock-nav contacttypeicon size="xs" fill="outline"></cxp-icon-lock-nav>
        <cxp-icon-chevron-app contactscopeicon size="xs"></cxp-icon-chevron-app>
      </cxp-contact-list>
      <cxp-contact-list size="sm" value="09173010779">
        <cxp-icon-lock-nav contacttypeicon size="xs" fill="outline"></cxp-icon-lock-nav>
        <cxp-icon-chevron-app contactscopeicon size="xs"></cxp-icon-chevron-app>
      </cxp-contact-list>
      <cxp-contact-list size="sm" value="09173010779">
        <cxp-icon-lock-nav contacttypeicon size="xs" fill="outline"></cxp-icon-lock-nav>
        <cxp-icon-chevron-app contactscopeicon size="xs"></cxp-icon-chevron-app>
      </cxp-contact-list>
    </div>
    <div class="cxp-item-group-box">
      @if (isEditing) {
        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Contact type </label>
          <cxp-input-select
            size="sm"
            placeholder="Mobile No"
          ></cxp-input-select>
        </div>

        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Contact scope</label>

          <cxp-input-select
            size="sm"
            placeholder="Landline No"
          ></cxp-input-select>
        </div>

        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Value </label>

          <cxp-input-text
            size="sm"
            placeholder="Email Address"
          ></cxp-input-text>
        </div>
      } 
    </div>
  </div>
</section>
