<section class="cxp-section">
  <div>
    <header class="item-group-header cxp-section__header">
      <cxp-icon-address-nav class="sub-header-icon" size="xs" fill="outline"></cxp-icon-address-nav>
      <h3 class="cxp-section__title">Contact Details</h3>
      <div class="contact__actions">
        @if (isEditing) {
          <cxp-button size="xs" variant="secondary" (clicked)="cancelEdit()"> Cancel </cxp-button>

          <cxp-button size="xs" variant="primary" (clicked)="saveContact()"> Save </cxp-button>
        } @else {
          <cxp-button size="xs" variant="secondary" (clicked)="startEdit()"> Edit </cxp-button>
        }
      </div>
    </header>
    <div class="cxp-item-group-box">
      @if (isEditing) {
        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Mobile No </label>

          <cxp-input-text
            size="sm"
            placeholder="Mobile No"
            [(value)]="contact.mobileNo"
          ></cxp-input-text>
        </div>

        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Landline No </label>

          <cxp-input-text
            size="sm"
            placeholder="Landline No"
            [(value)]="contact.landlineNo"
          ></cxp-input-text>
        </div>

        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Email Address </label>

          <cxp-input-text
            size="sm"
            placeholder="Email Address"
            [(value)]="contact.emailAddress"
          ></cxp-input-text>
        </div>
      } @else {
        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Mobile No </label>

          <cxp-display-field [value]="contact.mobileNo" size="sm"></cxp-display-field>
        </div>

        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Landline No </label>

          <cxp-display-field [value]="contact.landlineNo" size="sm"></cxp-display-field>
        </div>

        <div class="cxp-input__wrap">
          <label class="cxp-label cxp-label-bg cxp-label-sm"> Email Address </label>

          <cxp-display-field [value]="contact.emailAddress" size="sm"></cxp-display-field>
        </div>
      }
    </div>
  </div>
</section>
