:root {
  /* color pallete */
  /* Grey */

  --grey-000: #FFFFFF;
  --grey-100: #F5F5F5;
  --grey-200: #E0E0E0;
  --grey-300: #C2C2C2;
  --grey-400: #999999;
  --grey-500: #737373;
  --grey-600: #595959;
  --grey-700: #404040;
  --grey-800: #2B2B2B;
  --grey-900: #1A1A1A;
  --grey-1000: #0A0A0A;

  --blue-100: #EAF4FF;
  --blue-200: #CFE7FF;
  --blue-300: #A8D2FF;
  --blue-400: #73B6FF;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-700: #1D4ED8;
  --blue-800: #1E40AF;
  --blue-900: #172554;

  /* theme */
  --color-icon-dark: var(--grey-300);
  --color-icon-dark-icon-burger: var(--grey-100);
  --color-icon-light: var(--grey-800);

  /* Background */
  --color-background-10: var(--grey-1000);
  --color-background-09: var(--grey-900);
  --color-background-08: var(--grey-800);
  --color-background-07: var(--grey-700);
  --color-background-06: var(--grey-600);
  --color-background-05: var(--grey-500);
  --color-background-04: var(--grey-400);
  --color-background-03: var(--grey-300);
  --color-background-02: var(--grey-200);
  --color-background-01: var(--grey-100);
  --color-background-00: var(--grey-000);

  /* Border */
  --color-border-10: var(--grey-1000);
  --color-border-09: var(--grey-900);
  --color-border-08: var(--grey-800);
  --color-border-07: var(--grey-700);
  --color-border-06: var(--grey-600);
  --color-border-05: var(--grey-500);
  --color-border-04: var(--grey-400);
  --color-border-03: var(--grey-300);
  --color-border-02: var(--grey-200);
  --color-border-01: var(--grey-100);
  --color-border-00: var(--grey-000);

  /* stroke */
  --color-stroke-10: var(--grey-1000);
  --color-stroke-09: var(--grey-900);
  --color-stroke-08: var(--grey-800);
  --color-stroke-07: var(--grey-700);
  --color-stroke-06: var(--grey-600);
  --color-stroke-05: var(--grey-500);
  --color-stroke-04: var(--grey-400);
  --color-stroke-03: var(--grey-300);
  --color-stroke-02: var(--grey-200);
  --color-stroke-01: var(--grey-100);
  --color-stroke-00: var(--grey-000);

  /* fill */
  --color-fill-10: var(--grey-1000);
  --color-fill-09: var(--grey-900);
  --color-fill-08: var(--grey-800);
  --color-fill-07: var(--grey-700);
  --color-fill-06: var(--grey-600);
  --color-fill-05: var(--grey-500);
  --color-fill-04: var(--grey-400);
  --color-fill-03: var(--grey-300);
  --color-fill-02: var(--grey-200);
  --color-fill-01: var(--grey-100);
  --color-fill-00: var(--grey-000);



  /* Text */

  --color-text-10: var(--grey-1000);
  --color-text-09: var(--grey-900);
  --color-text-08: var(--grey-800);
  --color-text-07: var(--grey-700);
  --color-text-06: var(--grey-600);
  --color-text-05: var(--grey-500);
  --color-text-04: var(--grey-400);
  --color-text-03: var(--grey-300);
  --color-text-02: var(--grey-200);
  --color-text-01: var(--grey-100);
  --color-text-00: var(--grey-000);

  --color-text-link: var(--blue-700)
}

