:root{
    --stroke-width-00:.15px;
    --stroke-width-01:.25px;
    --stroke-width-02:.50px;
    --stroke-width-03:.75px;
    --stroke-width-04:1px;
    --stroke-width-05:2px;
    --stroke-width-06:3px;
    --stroke-width-07:4px;
    --stroke-width-08:5px;
    --stroke-width-09:6px;
    --stroke-width-10:7px;
}