<div class="main-layout">
  <header class="main-layout__header">
    <cxp-icon-burger-nav class="burger-menu" theme="dark" fill="outline"></cxp-icon-burger-nav>
    <label class="module-name">Account Management System version 10.1.0</label>
    <cxp-icon-app-nav class="icon-app-menu" size="md" theme="dark" fill="filled"></cxp-icon-app-nav>
    <cxp-icon-user-circle class="icon-user-nav" size="sm"></cxp-icon-user-circle>
  </header>
  <div class="main-layout__body">
    <aside class="main-layout__body__sidebar">
      <!-- Logo -->
      <div class="sidebar__header">
        <img class="company-logo-img" src="assets/images/icons/spx-logo.png" alt="SPX Logo" />
      </div>

      <!-- Navigation -->
      <nav class="sidebar__menu">
        <a
          class="sidebar__item"
          routerLink="/app/home"
          routerLinkActive="sidebar__item--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <cxp-icon-home-nav class="icon icon--sm" size="xs" fill="outline"></cxp-icon-home-nav>
          <span class="sidebar__label">Home</span>
        </a>

        <a
          class="sidebar__item"
          routerLink="/app/accounts"
          routerLinkActive="sidebar__item--active"
        >
          <cxp-icon-user-nav class="icon icon--sm" size="xs" fill="outline"></cxp-icon-user-nav>
          <span class="sidebar__label">Accounts</span>
        </a>

       
      </nav>

      <!-- Bottom Section -->
      <div class="sidebar__footer">
         <a
          class="sidebar__item"
          routerLink="/app/settings"
          routerLinkActive="sidebar__item--active"
        >
          <cxp-icon-settings-nav
            class="icon icon--sm"
            size="xs"
            fill="outline"
          ></cxp-icon-settings-nav>
          <span class="sidebar__label">Settings</span>
        </a>
        <a class="sidebar__item" routerLink="/logout">
          <cxp-icon-logout-nav class="icon icon--sm" fill="outline" size="xs"></cxp-icon-logout-nav>
          <span class="sidebar__label">Sign-out</span>
        </a>
      </div>
    </aside>
    <main class="main-layout__body__content">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="main-layout__footer">
    <label class="main-layout__footer__notes">© 2026 CyberXP ERP. All rights reserved.</label>
  </footer>
</div>
