@use 'base' as *;
.input {
  font-size: $font-size-xl;
  color: var(--dark-300);
  padding: $padding-sm;
  border:$border-input-dark-active;
  background: none;
  width: 100%;
}

@media (max-width: 500px) {
  .input {
    font-size: $font-size-md;
    padding: $padding-xs;
    background: var(--dark-100);
  }
}
