<section class="section-box">
  <div class="section-box-item">
    <label class="section-label cxp-label cxp-label-md">Username</label>
    <label class="section-value cxp-label cxp-label-xl">nonoymarinas</label>
  </div>
  <div class="section-box-content">
    <div class="section-box-item">
      <label class="section-label cxp-label cxp-label-md">New Password</label>
      <cxp-input-text type="password" size="sm"></cxp-input-text>
    </div>
    <div class="section-box-item">
      <label class="section-label cxp-label cxp-label-md">Confirm Password</label>
      <cxp-input-text type="password" size="sm"></cxp-input-text>
    </div>
  </div>
</section>
