.login-box {
    display: grid;
    margin: 10vh auto 0 auto;
    grid-template-rows: max-content max-content max-content auto;
    max-width: 400px;
    width: 100%;
    background-color: none;
    border: var(--border-width-thin) solid var(--color-border-default);
    padding: 2rem;
}

.login-box__logo__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    max-height: max-content;
}

.login-box__username__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    max-height: max-content;
}

.login-box__password__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    max-height: max-content;
}

.login-box__button__box {
    width: 100%;
    padding: 1rem 0;
}

.label-username {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    color: var(--color-text-muted);
    padding-bottom: .5rem;
}

.label-password {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    color: var(--color-text-muted);
    padding-bottom: .5rem;
}

@media (max-width: 768px) {
    .login-box {
        margin: 0;
        padding: 2rem;
        max-width: 100%;
        /* height: 100vh; */
        border: none;
    }
}