
.login-box {
    display: grid;
    margin: 10vh auto 0 auto;
    grid-template-rows: auto auto auto auto;
    max-width: 400px;
    width: 100%;
    background-color: none;
    border: 1px solid var(--color-dark-200);
    padding: 2rem;
}

.login-box__logo__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.login-box__username__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}

.login-box__password__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}

.login-box__button__box {
    width: 100%;
    padding: 1rem 0;
}

.label-username {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    color: var(--dark-400);
    padding-bottom: .5rem;
}

.label-password {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    color: var(--dark-400);
    padding-bottom: .5rem;
}

@media (max-width: 500px) {
    .login-box {
        margin: 5vh auto 0 auto;
        padding: 1rem;
         max-width: 100%;
         height: 100vh;
    }
}

