<main class="cxp-page">
  <section class="cxp-section">
    <header class="cxp-section__header">
      <!-- <cxp-icon-user-nav class="icon-accounts" size="sm" fill="outline"></cxp-icon-user-nav> -->
      <h2 class="cxp-section__title">Accounts</h2>
    </header>
    <section class="basic-info-box">
      <div>
        <div class="section-title-box_basic_info">
          <div class="title-icon-box">
            <cxp-icon-user-circle
              class="icon-pers-info"
              size="xs"
              fill="outline"
            ></cxp-icon-user-circle>
            <h2 class="cxp-title cxp-title-md">Personal Information</h2>
          </div>
          <label class="cxp-label cxp-label-md">View your personal details</label>
        </div>
      </div>

      <section>
        <ams-basic-info-view></ams-basic-info-view>
      </section>
    </section>
    <section>
      <div class="section-title-box__security">
        <div class="section-title-item-box">
          <div class="title-icon-box">
            <cxp-icon-lock-nav class="icon-pers-info" size="xs" fill="outline"></cxp-icon-lock-nav>
            <h2 class="cxp-title cxp-title-md">Security</h2>
          </div>
          <label class="cxp-label cxp-label-md">Update you login details</label>
        </div>

        @if (editingSection === 'security') {
          <cxp-button variant="secondary" size="sm" (clicked)="cancelSecurity()"> Cancel </cxp-button>
        }

        <cxp-button
          variant="secondary"
          size="sm"
          (clicked)="editingSection === 'security' ? saveSecurity() : editSecurity()"
        >
          {{ editingSection === 'security' ? 'Save' : 'Edit' }}
        </cxp-button>
      </div>

      <section>
        @if (editingSection === 'security') {
          <ams-security-edit></ams-security-edit>
        } @else {
          <ams-security-view></ams-security-view>
        }
      </section>
    </section>
  </section>
</main>
