
/* ========================================
   Personal Information
   ======================================== */


.employee-id-label{
    display: block;
    width: 100%;
}

/* ========================================
   Header
   ======================================== */

.item-group-header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.cxp-input__wrap{
    gap:.5rem;
}
.personal-info__heading {
    display: contents;
}

.personal-info__icon {
    display: flex;
    align-items: center;
    align-self: center;
}

.personal-info__actions {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: end;
    align-items: center;
}

cxp-button {
    margin-left: 1rem;
}

/* ========================================
   Body
   ======================================== */

.personal-info__body {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 1rem;
}
.cxp-input__wrap:last-child{
    margin-bottom: 0;
}
/* ========================================
   Image
   ======================================== */
.personal-info__box {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}
.employee-id-label{
    width: max-content;
    /* justify-self: center; */
}
.personal-info__image {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: self-start;

    width: 100%;
    aspect-ratio: 1 / 1;

    border: 1px solid var(--color-border-06);
}

.personal-info__user-icon {
    align-self: center;
    justify-self: center;
}

.personal-info__photo {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* ========================================
   Fields
   ======================================== */

.personal-info__fields {
    display: flex;
    flex-direction: column;
}

.personal-info__field {
    margin-bottom: .5rem;
}
.personal-info__field:last-child {
    margin-bottom: 0;
}

.personal-info__field:last-child {
    margin-bottom: 0;
}

/* ========================================
   Labels
   ======================================== */
.cxp-label{
    padding: .5rem;
}