.button-login {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-md);
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--button-primary-color);
    padding: var(--padding-md);
    border: none;
    background-color: var(--button-primary-background);
    width: 100%;
    user-select: none;

}

.button-login :hover {
    background-color: var(--button-primary-background-hover);
}

.button-login :active {
    background-color: var(--button-primary-background-active);
}